# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TurtleBot.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\dev\projects\TurtleBot\.idea\.idea.TurtleBot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
